<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>¿Cual es su proposito dentro de la aplicación?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
        <ion-radio-group>
          <ion-item>
            <ion-radio value="ADOPT" labelPlacement="start">Buscar y Adoptar</ion-radio><br />
          </ion-item>
          <ion-item>
            <ion-radio value="POSTER" labelPlacement="start">Publicar y buscar hogar</ion-radio><br />
          </ion-item>       
        </ion-radio-group>
    </ion-card-content>
  </ion-card>
  <ion-card>
      <ion-card-header>
          <ion-card-title>
            Información personal
          </ion-card-title>
        </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input label="Nombre" label-placement="floating" placeholder="Ingrese su nombre" type="text"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input label="Apellido" label-placement="floating" placeholder="Ingrese su apellido" type="text"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input label="Correo Electronico" label-placement="floating" placeholder="Ingrese su correo" type="email"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input label="Contraseña" label-placement="floating" placeholder="Ingrese su contraseña" type="password"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input label="Confirmar contraseña" label-placement="floating" placeholder="Confirme su contraseña" type="password"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input label="Número de telefóno" label-placement="floating" placeholder="+56 0 0000 0000" type="tel"></ion-input>
        </ion-item>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-header>
        <ion-card-title>
          Dirección de domicilio
        </ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-item>
          <ion-input label="Calle" label-placement="floating" placeholder="Dirección de calle" type="text"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input label="Número de calle" label-placement="floating" placeholder="0000" type="tel"></ion-input>
        </ion-item><br>
        <ion-item>
          <ion-input label="Ciudad" label-placement="floating" placeholder="Santiago" type="text"></ion-input>
        </ion-item><br>
      </ion-card-content>
    </ion-card>
    <ion-button size="full">Registrarse</ion-button>
</ion-content>
