<ion-header [translucent]="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-back-button text=""></ion-back-button>
    </ion-buttons>
    <ion-title>Post</ion-title>
  </ion-toolbar>
</ion-header><br>

<ion-content>
  <div class="image-container">
    <img src="https://cdn.shopify.com/s/files/1/0086/0795/7054/files/Golden-Retriever.jpg?v=1645179525">
  </div><br>
  <ion-card>
    <ion-card-content>
      <p>Nombre : Cholito</p>
      <p>Género : Macho</p>
      <p>Peso : 30 kg</p>
      <p>Edad : 1 año</p>
      <p>Ubicación : Calle siempre viva</p>
      <p>Número de residencia : 0567</p>
    </ion-card-content>
  </ion-card><br>
  <ion-list>
    <div>
      <ion-item lines="inset">
      <ion-label position="floating">Notas</ion-label>
      <ion-textarea></ion-textarea>
    </ion-item><br>
    </div>
  </ion-list>
  <ion-button size="full" color="success">Subir post</ion-button>
</ion-content>