<ion-content class="ion-padding">

  <div class="home-header">
    <h1>PetHub</h1>
    <p>Casas felices, para animales felices.</p>
  </div>

  <ion-searchbar placeholder="Encuentra a tu nuevo amigo..."></ion-searchbar>

  <!-- Lista de mascotas -->
  <ion-card class="pet-card" *ngFor="let pet of pets">
    
    <div class="pet-banner" [style.background]="pet.color">
      {{ pet.name }}
    </div>

    <ion-button class="favorite-btn" fill="solid" size="small" (click)="toggleFavorite(pet.id)">
      <ion-icon [name]="favorites.includes(pet.id) ? 'heart' : 'heart-outline'"></ion-icon>
    </ion-button>

    <ion-card-content>
      <h2>{{ pet.name }}</h2>
      <p>{{ pet.breed }}</p>
      <p>{{ pet.age }} • {{ pet.gender }} • {{ pet.location }}</p>

      <ion-chip color="success" *ngIf="pet.vaccinated">Vacunado</ion-chip>
      <ion-chip color="success" *ngIf="pet.neutered">Esterilizado</ion-chip>
      <ion-chip color="success" *ngIf="pet.houseTrained">Adiestrado</ion-chip>

      <ion-button expand="block" class="details-btn" (click)="openDetails(pet)">
        Ver Detalles
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
