<ion-content class="register-page">
  <div class="register-container">
    <h2>Crear cuenta</h2>

   
    <div class="section">
      <h3>¿Cuál es su propósito dentro de la aplicación?</h3>
      <ion-radio-group>
        <ion-item>
          <ion-label>Buscar y Adoptar</ion-label>
          <ion-radio slot="end" value="adoptar"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label>Publicar y buscar hogar</ion-label>
          <ion-radio slot="end" value="publicar"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </div>

    
    <div class="section">
      <h3>Información personal</h3>

      <ion-item class="input-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input placeholder="Nombre" type="text"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-icon name="person-outline" slot="start"></ion-icon>
        <ion-input placeholder="Apellido" type="text"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-icon name="mail-outline" slot="start"></ion-icon>
        <ion-input placeholder="Correo electrónico" type="email"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input placeholder="Contraseña" type="password"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-icon name="lock-closed-outline" slot="start"></ion-icon>
        <ion-input placeholder="Confirmar contraseña" type="password"></ion-input>
      </ion-item>

      <ion-item class="input-item">
        <ion-icon name="call-outline" slot="start"></ion-icon>
        <ion-input placeholder="Número de teléfono" type="tel"></ion-input>
      </ion-item>
    </div>

    
    <ion-button expand="block" class="signup-btn">Registrarse</ion-button>

    <p class="footer-text">
      ¿Ya tienes cuenta?
      <a routerLink="/login">Inicia sesión</a>
    </p>
  </div>
</ion-content>
