<ion-content class="post-page">
  <div class="post-container">

    <h2>Publicar Mascota</h2>
    <ion-card class="pet-card">
      <img src="https://cdn.shopify.com/s/files/1/0086/0795/7054/files/Golden-Retriever.jpg?v=1645179525" alt="Mascota" />

      <ion-card-content>
        <ion-list lines="none">
          <ion-item>
            <ion-icon name="paw-outline" slot="start"></ion-icon>
            <ion-input placeholder="Nombre de la mascota" type="text" maxlength="30" clear-input="true">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="paw-outline" slot="start"></ion-icon>
            <ion-input placeholder="Raza" type="text" maxlength="30" clear-input="true">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="hourglass-outline" slot="start"></ion-icon>
            <ion-input placeholder="Edad (ej: 2 años, 6 meses)" type="text" maxlength="3" clear-input="true">
            </ion-input>
          </ion-item>
          <ion-item>
            <ion-icon name="male-outline" slot="start"></ion-icon>
            <ion-select placeholder="Género" interface="popover">
              <ion-select-option value="Macho">Macho</ion-select-option>
              <ion-select-option value="Hembra">Hembra</ion-select-option>
            </ion-select>
          </ion-item>
          <ion-item>
            <ion-icon name="location-outline" slot="start"></ion-icon>
            <ion-input placeholder="Ubicación" type="text" maxlength="100" clear-input="true">
            </ion-input>
          </ion-item>
        <ion-item>
          <ion-icon name="paw-outline" slot="start"></ion-icon>
          <ion-select placeholder="Tipo de animal" interface="popover">
            <ion-select-option value="dog">Perro</ion-select-option>
            <ion-select-option value="cat">Gato</ion-select-option>
            <ion-select-option value="other">Otro</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="medical-outline" slot="start"></ion-icon>
          <ion-select placeholder="¿Está vacunado?" interface="popover">
            <ion-select-option value="true">Sí</ion-select-option>
            <ion-select-option value="false">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="medical-outline" slot="start"></ion-icon>
          <ion-select placeholder="¿Está esterilizado?" interface="popover">
            <ion-select-option value="true">Sí</ion-select-option>
            <ion-select-option value="false">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="school-outline" slot="start"></ion-icon>
          <ion-select placeholder="¿Está entrenado?" interface="popover">
            <ion-select-option value="true">Sí</ion-select-option>
            <ion-select-option value="false">No</ion-select-option>
          </ion-select>
        </ion-item>
        <ion-item>
          <ion-icon name="hardware-chip-outline" slot="start"></ion-icon>
          <ion-select placeholder="¿Tiene chip?" interface="popover">
            <ion-select-option value="true">Sí</ion-select-option>
            <ion-select-option value="false">No</ion-select-option>
          </ion-select>
        </ion-item>
        </ion-list>
      </ion-card-content>
    </ion-card>

    
    <ion-item class="notes-item">
      <ion-textarea placeholder="Notas adicionales..."></ion-textarea>
    </ion-item>

    
    <ion-button expand="block" class="post-btn">Publicar</ion-button>

  </div>
</ion-content>